<?xml version="1.0" ?>
<launch>  
  <arg name="robot_ip" default="192.168.10.52" />  
  <arg name="mobile" default="true"/>   

  <param name="robot_group" type="string" value="ns1"/>  
  <param name="load_gripper" type="bool" value="false"/>
  <param name="robotiq_gripper" type="bool" value="true"/>
  <param name="mobile" type="bool" value="$(arg mobile)"/>  

  <group ns ="ns1">
    <group if="$(arg mobile)">      
      <!-- rqt -->
      <node name="rqt" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find kimm_phri_viz)/rqt/kimm_phri_panda_husky_real_49inch.perspective" output="screen"/>            
    </group>

    <group unless="$(arg mobile)">     
      <!-- rqt -->
      <node name="rqt" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find kimm_phri_viz)/rqt/kimm_phri_panda_real_49inch.perspective" output="screen"/>            
    </group>
  </group>
</launch>

